.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0a1e3f;
}

button {
  display: flex;
  justify-items: center;
  margin-left: 35%;
  margin-top: 10%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
  background-color: #000000;
  cursor: pointer;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

h2 {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  
}

